doctype html
html(lang="en")
  head
    title Michael Mesquita - Modern Front-End Developer

    meta(charset="utf-8")
    meta(
      name="description",
      content="A web resume built using Pug, Sass, Typescript, and Bootstrap v5. Developed and bundled with Parcel. This website demos fast and agile front end development using modern tools, bringing technologies of the future, today. Kudos to Bootstrap for their amazing front-end development framework and their icons. Inspired by the startboostrap-resume project by StartBootstrap.com."
    )
    meta(
      name="author",
      content="Michael Mesquita A.K.A Midlight25 (mesquitamichael000@gmail.com)"
    )
    meta(
      name="keywords",
      content="HTML, HTML5, CSS, SCSS, SASS, JavaScript, TypeScript, Pug, Node.js, Parcel, Front-End Development, Development, Website Development"
    )
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Importing Fonts from Google Fonts
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&family=Comfortaa:wght@400;500;700&display=swap"
    )

    // Importing icons from FontAwesome, just the Developer icons tho.
    script(
      defer,
      src="https://kit.fontawesome.com/1134fbc170.js",
      crossorigin="anonymous"
    )

    // Importing main SCSS file, which it's self imports Bootstrap 5 for me to use.
    link(href="./scss/styles.scss", rel="stylesheet")

  // I want this website to have a very "business-card" like feel.
  body#pageTop
    // Navigation - Side-bar nav on desktops, classic navbar on mobile.
    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top.px-4
      // The brand switches between my Profile Picture and my name, depending on what size the screen is at.
      a.navbar-brand(href="#")
        // My name for small screens with the standard nav-bar.
        span.d-block.d-lg-none(style="font-size: 1.5rem") Michael Mesquita
        // My image for bigger screens with the sidebar.
        span.d-none.d-lg-block
          img#profilePicture.img-fluid.rounded-circle.mx-auto.mb-2(
            src="./assets/Atlantic-13.jpg",
            alt="A picture of the dashing and handsome developer in a three-piece suit."
          )

      button.navbar-toggler(
        type="button",
        data-bs-toggle="collapse",
        data-bs-target="#navbarContent",
        aria-controls="navbarContent",
        aria-expanded="false",
        aria-label="Toggle navigation"
      )
        i.navbar-toggler-icon

      // Navigation Links
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="#about") About
          li.nav-item
            a.nav-link(href="#experience") Experience
          li.nav-item
            a.nav-link(href="#education") Education
          li.nav-item
            a.nav-link(href="#skills") Skills
          li.nav-item
            a.nav-link Interests

    // Body Content for Resume
    .container-fluid
      // My about page!
      section#about.resume-section
        .resume-section-content
          h1.mb-0 Michael #[span.text-primary Mesquita]
          .subheading.mb-4 Deerfield Beach, FL 33442 &bull; #[a(href="tel:9545734686") (954) 573-4686] &bull; #[a.d-none.d-lg-inline(href="mailto:mesquitamichael000@gmail.com") mesquitamichael000@gmail.com]#[a.d-inline.d-lg-none(href="mailto:mesquitamichael000@gmail.com") email me]
          p.lead.mb-4 Developing solutions from the future using agile frameworks and automation to deliver continuous and rapid development that stops for nobody. Let's think collaboratively and work together to make technology seem like magic.

          .social_icons
            a.social_icon(
              href="https://www.linkedin.com/in/mmesquita000/",
              target="_blank"
            )
              i.bi.bi-linkedin(alt="LinkedIn")
            a.social_icon(
              href="https://github.com/Midlight25",
              target="_blank"
            )
              i.bi.bi-github(alt="Github")
            a.social_icon(
              href="https://twitter.com/Midlight25",
              target="_blank"
            )
              i.bi.bi-twitter(alt="Twitter")

      hr.mb-0

      // My experience page.
      section#experience.resume-section
        .resume-section-content
          h2.mb-5 Experience

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Esports Shift Lead
              .subheading.mb-3 FAU Student Union Esports Arena
              ul
                li Managed operations of gaming center using a team of six people.
                li Troubleshot hardward to reduce maintence costs and reduce IT department time used.
                li Collaborated with management to generate new sources of revenue.
                li Designed and implemented proprietary tools using web-technologies to streamline our operations.
            .flex-shrink-0
              span.text-primary February 2020 - Present

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Set Crew
              .subheading.mb-3 FAU Student Union

              ul
                li Safely set up and managed millions of dollars worth of equipment for events.
                li Executed detailed procedures for a variety of event setups.
                li Provided technical assistance during events for Audio-visual equipment.
                li Collaborated extensively with upper management to ensure the smooth and timely execution of events.
            .flex-shrink-0
              span.text-primary October 2019 - February 2020

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Customer Associate
              .subheading.mb-3 Dunkin'

              ul
                li Executed hundreds of transactions per day for a company worth $8.76 billion.
                li Collaborated closely with patrons using active listening skills to provided customized products specific to consumer needs.
                li Actively engaged in inventory management.
                li Created a unique experience for every patron that contributed to a high customer-retention rate.
            .flex-shrink-0
              span.text-primary December 2018 - March 2019

      hr.m-0

      // Education
      section#education.resume-section
        .resume-section-content
          h2.mb-5 Education

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Florida Atlantic University
              .subheading.mb-3 Bachelors of Computer Science
              div Application Programming | Full Stack Development | Artificial Intelligence
              p GPA: 3.63
            .flex-shrink-0
              span.text-primary Expected Graduation Spring 2023

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Atlantic Technical College and Magnet High School
              .subheading.mb-3 Network Support Services Program
              div Hardware Troubleshooting | IT Support | Corporate Network Management
            .flex-shrink-0
              span.text-primary Graduated May 2019

      hr.m-0

      // Skills Section
      section#skills.resume-section
        .resume-section-content
          h2.mb-5 Skills

          h4.mb-0 Programming Languages
          ul.mb-0.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-html5
            li.list-inline-item
              i.fab.fa-css3-alt
            li.list-inline-item
              i.fab.fa-js-square
            li.list-inline-item
              i.fab.fa-node
            li.list-inline-item
              i.fab.fa-vuejs
            li.list-inline-item
              i.fab.fa-sass
            li.list-inline-item
              i.fab.fa-wordpress
            li.list-inline-item
              i.fab.fa-python

          p.mb-4 Included on this list are C, C++, Pug, Typescript and Google Apps Script.

          h4.mb-0 Development Tools and Skills.
          ul.mb-0.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-git-alt
            li.list-inline-item
              i.fab.fa-github
            li.list-inline-item
              i.fab.fa-npm
            li.fab.fa-linux
          p.mb-4 I also use WSL2, Prettier, Parcel.js, and Electron.js. I am familiar with agile development, continuous integration, continuous delivery, testing-driven development, mobile-first, responsive design, and more.

          h4.mb-2 Languages
          ul.fa-ul.mb-4
            li
              span.fa-li
                i.fas.fa-check
              | English (Primary)
            li
              span.fa-li
                i.fas.fa-check
              | Portuguese (Fluent)
            li
              span.fa-li
                i.fas.fa-check
              | Spanish (Intermediate)

          h4.mb-2 Other
          ul.fa-ul.mb-4
            li
              span.fa-li
                i.fas.fa-check
              | Graphic Design
            li
              span.fa-li
                i.fas.fa-check
              | Video Editing
            li
              span.fa-li
                i.fas.fa-check
              | Hardware Troubleshooting
            li
              span.fa-li
                i.fas.fa-check
              | Principles and Concepts of Networking and Internet Traffic Mechanics

    script(src="./index.js")
